@import './less.less';
@import '../font//iconfont.css';
#root {
    color:orangered;
    font-size: 40px;
}
/* .webpack {
    color: yellowgreen;
    font-size: 30px;
    font-weight: 700;
    transform: rotate(-45deg);
} */