@import './less.less';

.webpack {
    color: yellowgreen;
    font-size: 30px;
    font-weight: 700;
    transform: rotate(-45deg);
}
/* #root {
    height: 800px;
    background: url(../image/text.png) no-repeat;
    background-size:100% 100%;
} */